<div class="container mt-5">

  <div class="d-flex justify-content-between align-items-center">

    <div class="landing w-50">

      <h1 class="title">Find your IT freelance</h1>
      <h1 class="title color-title">in just 48 hours !</h1>

        <div class="lists">
          <div class="list-item">
            <i class="fa-solid fa-square-check"></i>
            <p>Find your freelance by 48h</p>
          </div>
          <div class="list-item">
            <i class="fa-solid fa-square-check"></i>
            <p>Le reference pool IT freelances</p>
          </div>
          <div class="list-item">
            <i class="fa-solid fa-square-check"></i>
            <p>One personalized accompaniment by our freelance experts</p>
          </div>
        </div>

      <div class="buttons">
        <button class="landing-btn">I Find My Freelancer</button>
        <button class="landing-btn">I Am Looking For A Mission</button>
      </div>







    </div>

    <div class="w-50">
      <img class="w-100" src="assets/landing.jpg">
    </div>



</div>


<app-freelances></app-freelances>



