<div class="container">

  <div class="registration-row">

    <div class="freelance-registration col-5">

      <div class="freelance-image">
        <img src="assets/freelanceRegistration.png">
      </div>

      <h1 class="registration-title">I am a Freelance </h1>
      <p class="button-title">I'm looking for a mission and i want to publish my profile</p>
      <div class="lists">
        <div class="list-item">
          <i class="fa-solid fa-square-check"></i>
          <p>Free registration</p>
        </div>
        <div class="list-item">
          <i class="fa-solid fa-square-check"></i>
          <p>Apply easily to offers of mission on line</p>
        </div>
        <div class="list-item">
          <i class="fa-solid fa-square-check"></i>
          <p>Share your profile on social networks</p>
        </div>

      </div>


      <button class="btn btn-dark" (click)="navigateToFreelanceRegistration()">Freelance Registration</button>

    </div>

    <div class="company-registration col-5">
      <div class="company-image">
        <img src="assets/companyRegistration.png">
      </div>

      <h1 class="registration-title">I am a Company </h1>
      <p  class="button-title">I want to publish mission offers and contact freelancers</p>
      <div class="lists">
        <div class="list-item">
          <i class="fa-solid fa-square-check"></i>
          <p>Publish your mission offers</p>
        </div>
        <div class="list-item">
          <i class="fa-solid fa-square-check"></i>
          <p> Consult and select of profiles</p>
        </div>
        <div class="list-item">
          <i class="fa-solid fa-square-check"></i>
          <p>Contact directly the freelancers</p>
        </div>

      </div>




      <button class="btn btn-dark" (click)="navigateToCompanyRegistration()">Company Registration</button>

    </div>

  </div>

</div>
